*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Ignore build artifacts
build/
*.o
*.so
*.out
*.exe

# Ignore temporary files
*.log
*.tmp

submodules/
workspace/
bin/

dump/onnxruntime-linux-x64-gpu-1.19.2.tgz